.navbar-content{
    background-color: #CD7F32;

    h1{
        color: #FAF9F6;
        font-size: 2rem;
        font-weight: 700;
    }

    button{
        border: none;
    }

    ul{
        li{
            a{
        color: #FAF9F6;
    }
    }
    }
}